.home-container {
  padding: 27px 20px;
}

.start-button {
  color: #fff;
}
.home-content h1 {
  font-size: 28px;
}
.home-content p {
  font-size: 14px;
  color: #7e7e7e;
}

@media (min-width: 576px) {
  .home-container {
    padding: 27px 40px;
  }

  .home-content h1 {
    font-size: 35px;
  }
  .home-content p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .home-content h1 {
    font-size: 42px;
  }
  .home-content p {
    font-size: 24px;
  }
}
